@import '../../styles/mixins';

.forbidden {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.title  {
  font-size: 2rem;
  font-weight: 600;
}

.redirect-link {
  @include button--blue;

  margin-top: 1rem;

  width: auto;

  text-decoration: none;
  text-align: center;
}
