@import './variables';
@import './typography';

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Source Sans Pro', sans-serif;
}

input[type='text'] {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  height: 100%;
}

.flex {
  display: flex;
}

.row  {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
