@import './variables';
@import './typography';

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Source Sans Pro', sans-serif;
}

input[type='text'] {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;

  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
