@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-control {
    @apply flex flex-row-reverse relative font-sans text-base text-black border border-black border-solid rounded-sm w-full;
  }

  .input {
    @apply w-full py-2 px-4 focus:outline-none;
  }

  .input-icon {
    @apply py-2 px-4;
  }

  .input-icon + .input {
    @apply pr-0;
  }

  .button  {
    @apply flex flex-row items-center justify-center font-sans text-base py-2 px-8 rounded-sm w-full;
  }

  .primary {
    @apply text-white bg-black;
  }

  .secondary {
    @apply text-black bg-white border border-solid border-black;
  }

  .error {
    @apply w-full bg-red-300 border border-solid border-red-700 text-red-700 text-base font-bold p-4;
  }

  .schedule {
    @apply grid grid-cols-schedule grid-rows-9 col-start-2 col-end-7 row-start-2 row-end-11 bg-white h-full;
  }

  .event {
    @apply flex justify-between w-full h-auto m-0.5 p-3 border-t-2 border-solid transform scale-90 opacity-50;
  }

  .link-animation {
    @apply relative;
  }

  .link-animation::before {
    content: '';

    @apply absolute top-full left-0 w-full h-px pointer-events-none bg-blue-600 transition-transform duration-700;

    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
  }

  .link-animation:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }
}
