@import '../../styles/variables';
@import '../../styles/mixins';

.admin {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;

  background: rgb(20, 19, 24);
  color: white;
}

.navbar {
  display: flex;
  flex-direction: column;

  width: auto;
  height: 100%;

  padding: 4rem 0;

  border-right: 1px solid rgb(40, 36, 51);

  ul {
    display: flex;
    flex-direction: column;

    height: 100%;

    list-style-type: none;
  }

  .link {
    display: block;

    font-size: 1.1rem;
    font-weight: 600;

    color: rgb(221, 221, 221);
    text-align: right;
    text-decoration: none;

    padding: 0.8rem 6rem 0.8rem 6rem;

    transition: all 0.3s;

    outline: none;
    cursor: pointer;

    &:focus,
    &:active,
    &.selected,
    &:hover {
      background: rgb(33, 32, 39);
    }
  }

  .logout {
    margin-top: auto;
  }
}

.category-container {
  display: flex;
  flex-direction: column;

  flex: 1;

  .header {
    z-index: 10;

    padding: 4rem;
    padding-bottom: 4rem;

    border-bottom: 1px solid rgb(40, 36, 51);
    background: rgb(20, 19, 24);
  }
}
