@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.day {
  display: flex;
  flex-direction: column;

  width: 20rem;
  height: 100%;

  // top right bottom left
  padding: 0 2rem 4rem 2rem;

  border-right: 1px solid $border;
}

.header {
  display: flex;
  align-items: flex-end;

  height: $day-title-height + 1rem;
  padding-bottom: 1rem;

  h3 {
    color: rgb(18, 28, 49);
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.events {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  .event {
    position: relative;

    height: 1 / $hours-amount * 100%;
    width: 100%;

    border-color: $border-darker;
    border-style: solid;
    border-width: 0;
    border-radius: 0;

    padding: 0.7rem 1rem;

    $radius: 0.3rem;

    &.normal,
    &.start,
    &.middle,
    &.end {
      &.red {
        border-color: lighten($red, 35%);
        background-color: lighten($red, 50%);
        color: lighten($red, 20%);
      }

      &.blue {
        border-color: lighten($blue, 35%);
        background-color: lighten($blue, 50%);
        color: lighten($blue, 20%);
      }

      &.green {
        border-color: lighten($green, 35%);
        background-color: lighten($green, 74%);
        color: lighten($green, 20%);
      }
    }

    &.normal {
      border-width: 1px;
      // border-radius: $radius;
    }

    &.start {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;

      border-left-width: 1px;
      border-right-width: 1px;
      border-top-width: 1px;
    }

    &.middle {
      border-left-width: 1px;
      border-right-width: 1px;
    }

    &.end {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;

      border-left-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
    }

    .subject {
      font-size: 1rem;
      font-weight: 600;
    }

    .description {
      font-size: 1rem;
      font-weight: 400;

      margin-top: 0.1rem;
    }

    &.empty:hover::before {
      content: '';
      display: block;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      border-width: 1px;
      // border-radius: $radius;

      opacity: 0.2;
      background: repeating-linear-gradient(45deg, black, black 5px, #e5e5f7 5px, #e5e5f7 25px);

      cursor: pointer;
    }

    &.selected {
      border-width: 1px;
      // border-radius: $radius;

      border-color: lighten($black, 35%);
      background-color: lighten($black, 80%);
      color: lighten($black, 20%);

      cursor: pointer;
    }

    &.blur {
      @include filter(blur, 5px);
      transition: all 0.3s;
    }
  }
}
