@import '../../styles/variables';
@import '../../styles/mixins';

.modal {
  z-index: 4000;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    cursor: text;
  }

  &.hidden {
    display: none;
  }

  .modal-content {
    min-width: 35rem;
    height: auto;

    background: white;

    border: 1px solid $border-darker;
    border-radius: 1rem;

    padding: 2rem;

    cursor: default;

    .pin {
      display: inline;

      font-size: 0.9rem;
      font-weight: 400;

      padding: 0.15rem 0.35rem;

      border-width: 1px;
      border-style: solid;
      border-radius: 0.2rem;

      &.black {
        background-color: rgb(189, 190, 204);

        border-color: rgb(3, 2, 15);
        color: rgb(3, 2, 15);
      }

      &.red {
        $red: #e74c3c;
        background-color: lighten($red, 37%);

        border-color: $red;
        color: $red;
      }

      &.green {
        $green: #2ecc71;
        background-color: lighten($green, 37%);

        border-color: $green;
        color: $green;
      }
    }

    .title {
      display: flex;
      align-items: center;

      font-size: 1.5rem;
      font-weight: 600;

      .pin {
        margin-left: 0.5rem;
      }
    }

    .title-2 {
      display: flex;
      align-items: center;

      font-size: 1.2rem;
      font-weight: 400;
    }

    header {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      align-items: center;

      .icon {
        cursor: pointer;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-top: 0.5rem;

      height: 100%;

      .global-description {
        margin-bottom: 1rem;
      }

      .day-container {
        display: flex;
        flex-direction: column;

        width: 100%;

        .day-name {
          font-size: 1.2rem;
          font-weight: 600;
        }

        .hours-list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          width: 100%;

          margin-top: 0.5rem;
          margin-bottom: 1rem;

          .hour {
            width: 50%;

            display: flex;
            flex-direction: column;

            margin-bottom: 0.75rem;

            .start {
              justify-self: center;
              align-items: center;

              display: flex;
              flex-direction: row;
            }

            .field {
              display: flex;
              flex-direction: column;

              margin-top: 1em;

              font-size: 1rem;
              font-weight: 600;

              input {
                @include input--no-border;
              }
            }

            .pin {
              margin-left: 0.5rem;
              cursor: pointer;
            }
          }
        }
      }

      .fields {
        width: 100%;

        margin-top: 1rem;

        .form-group {
          display: flex;
          flex-direction: row;
        }

        .field {
          width: 100%;
        }

        .submit-button {
          @include button--blue;

          width: 50%;

          margin-left: 1rem;
        }
      }

      .infos {
        font-size: 1rem;
        color: black;

        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;

        .subject-owner,
        .start-time {
          width: 100%;

          display: flex;
          justify-content: space-between;

          position: relative;
          color: rgb(33, 32, 37);
        }

        .subject-owner::before {
          color: black;
          content: 'Professeur';
        }

        .start-time::before {
          color: black;
          content: 'Début';
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;

        margin-top: 2rem;
        justify-content: space-between;

        width: 100%;

        .join-class {
          @include button--blue;
          margin-right: auto;
        }

        .delete-event {
          @include button--red;
          margin-left: auto;
        }

        .join-class,
        .delete-event {
          width: auto;
        }
      }
    }
  }
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: auto;

  padding: 1.5rem 3rem;

  border-bottom: 0.1rem solid rgb(231, 231, 231);

  .text {
    display: flex;
    flex-direction: column;

    .name {
      color: rgb(9, 6, 41);
      font-size: 1.4rem;
      font-weight: 600;
    }

    .role {
      color: rgb(51, 51, 61);
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .label-selector {
    margin-left: 2rem;
  }

  .event-creator {
    margin: 0 auto;

    .create-event-button {
      @include button--blue;
    }
  }

  .logout {
    margin-left: auto;

    p {
      @include link;
    }
  }
}

.schedule {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  position: relative;
}

.time-indicator {
  z-index: 10;

  display: flex;
  align-items: center;

  height: 100%;

  padding: 1rem;
  padding-top: 1rem + $day-title-height;
  padding-bottom: 4rem;

  border-right: 1px solid rgb(211, 218, 233);

  background: white;

  tbody {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: auto;

    tr {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      height: 1 / $hours-amount * 100%;

      color: rgb(147, 157, 179);
    }
  }
}

.days {
  z-index: 5;

  position: relative;

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  & > div {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: auto;

    transition: transform 0.3s;
  }
}

.day {
  display: flex;
  flex-direction: column;

  width: 20rem;
  height: 100%;

  padding: 0 2rem 4rem 2rem;

  border-right: 1px solid $border;

  $radius: 0.6rem;

  .header {
    display: flex;
    align-items: flex-end;

    height: $day-title-height + 1rem;
    padding-bottom: 1rem;

    .title {
      color: rgb(18, 28, 49);
      font-size: 1.3rem;
      font-weight: 400;
    }
  }

  .events {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    .event {
      position: relative;

      height: 1 / $hours-amount * 100%;
      width: 100%;

      border-color: $border-darker;
      border-style: solid;
      border-width: 0;
      border-radius: 0;

      padding: 0.7rem 1rem;

      &.normal,
      &.start,
      &.middle,
      &.end {
        cursor: pointer;

        &.red {
          border-color: lighten($red, 35%);
          background-color: lighten($red, 50%);
          color: lighten($red, 20%);
        }

        &.blue {
          border-color: lighten($blue, 35%);
          background-color: lighten($blue, 50%);
          color: lighten($blue, 20%);
        }

        &.green {
          border-color: lighten($green, 35%);
          background-color: lighten($green, 74%);
          color: lighten($green, 20%);
        }
      }

      &.selected {
        border-width: 0;
        border-radius: 0;
        border-color: lighten($black, 35%);
        background-color: lighten($black, 80%);
        color: lighten($black, 20%);
      }

      &.normal:not(.unselected) {
        border-width: 1px;
        border-radius: $radius;
      }

      &.start:not(.unselected) {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;

        border-left-width: 1px;
        border-right-width: 1px;
        border-top-width: 1px;
      }

      &.middle:not(.unselected) {
        border-left-width: 1px;
        border-right-width: 1px;
      }

      &.end:not(.unselected) {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;

        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
      }

      .title {
        font-size: 1rem;
        font-weight: 600;
      }

      .description {
        font-size: 1rem;
        font-weight: 400;

        margin-top: 0.1rem;
      }

      &.blur {
        @include filter(blur, 5px);
        transition: all 0.3s;
      }
    }
  }

  .events.professor-events .event {
    &.empty.selectable:hover::before {
      content: '';
      display: block;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      border-width: 1px;
      border-radius: $radius;

      opacity: 0.2;
      background: repeating-linear-gradient(45deg, black, black 5px, #e5e5f7 5px, #e5e5f7 25px);

      cursor: pointer;
    }
  }
}
