@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/breakpoints';

.modal {
  z-index: 4000;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    cursor: text;
  }

  &.hidden {
    display: none;
  }

  .modal-content {
    min-width: 35rem;
    height: auto;

    background: white;

    border: 1px solid $border-darker;
    border-radius: 1rem;

    padding: 2rem;

    cursor: default;

    @include media('<=tablet') {
      min-width: 90vw;

      padding: 1.5rem;
    }

    .pin {
      display: inline;

      font-size: 0.9rem;
      font-weight: 400;

      padding: 0.15rem 0.35rem;

      border-width: 1px;
      border-style: solid;
      border-radius: 0.2rem;

      &.black {
        background-color: rgb(189, 190, 204);

        border-color: rgb(3, 2, 15);
        color: rgb(3, 2, 15);
      }

      &.red {
        background-color: lighten($red, 37%);

        border-color: $red;
        color: $red;
      }

      &.green {
        background-color: lighten($green, 37%);

        border-color: $green;
        color: $green;
      }
    }

    .title {
      display: flex;
      align-items: center;

      font-size: 1.5rem;
      font-weight: 600;

      .pin {
        margin-left: 0.5rem;
      }
    }

    .title-2 {
      display: flex;
      align-items: center;

      font-size: 1.2rem;
      font-weight: 400;
    }

    header {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      align-items: center;

      .icon {
        cursor: pointer;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-top: 0.5rem;

      height: 100%;

      .global-description {
        margin-bottom: 1rem;
      }

      .day-container {
        display: flex;
        flex-direction: column;

        width: 100%;

        .day-name {
          font-size: 1.2rem;
          font-weight: 600;
        }

        .hours-list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          width: 100%;

          margin-top: 0.5rem;
          margin-bottom: 1rem;

          .hour {
            width: 50%;

            display: flex;
            flex-direction: column;

            margin-bottom: 0.75rem;

            .start {
              justify-self: center;
              align-items: center;

              display: flex;
              flex-direction: row;
            }

            .field {
              display: flex;
              flex-direction: column;

              margin-top: 1em;

              font-size: 1rem;
              font-weight: 600;

              input {
                @include input--no-border;
              }
            }

            .pin {
              margin-left: 0.5rem;
              cursor: pointer;
            }
          }
        }
      }

      .fields {
        width: 100%;

        margin-top: 1rem;

        .form-group {
          display: flex;
          flex-direction: row;
        }

        .field {
          width: 100%;
        }

        .submit-button {
          @include button--blue;

          width: 50%;

          margin-left: 1rem;
        }
      }

      .infos {
        font-size: 1rem;
        color: $primary;

        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;

        .subject-owner,
        .start-time {
          width: 100%;

          display: flex;
          justify-content: space-between;

          position: relative;
          color: $primary;
        }

        .subject-owner::before {
          color: $primary;
          content: 'Professeur';
        }

        .start-time::before {
          color: $primary;
          content: 'Début';
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;

        margin-top: 2rem;
        justify-content: space-between;

        width: 100%;

        .join-class {
          @include button--blue;
          margin-right: auto;
        }

        .delete-event {
          @include button--red;
          margin-left: auto;
        }

        .join-class,
        .delete-event {
          width: auto;
        }
      }
    }
  }
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: auto;

  padding: 1.5rem 3rem;

  border-bottom: 1px solid $border;

  @include media('<=tablet') {
    padding: 1rem 2rem;
  }

  .text {
    display: flex;
    flex-direction: column;

    cursor: pointer;

    .name {
      color: $primary;
      font-size: 1.4rem;
      font-weight: 600;
    }

    .role {
      color: $secondary;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .label-selector {
    margin-left: 2rem;
  }

  .event-creator {
    margin: 0 auto;

    .create-event-button {
      @include button--blue;
    }
  }

  .logout {
    margin-left: auto;

    .responsive-link,
    p {
      @include link;

      @include media('<=tablet') {
        display: none;
      }
    }

    .responsive-icon {
      @include media('>tablet') {
        display: none;
      }
    }
  }
}

.schedule {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  position: relative;
}

.time-indicator {
  z-index: 10;

  display: flex;
  align-items: center;

  height: 100%;

  padding: 1rem;
  padding-top: 1rem + $day-title-height;
  padding-bottom: 4rem;

  border-right: 1px solid $border;

  background: white;

  @include media('<=tablet') {
    display: none;
  }

  tbody {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: auto;

    tr {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      height: 1 / $hours-amount * 100%;

      color: $ternary;
    }
  }
}

.days {
  z-index: 5;

  position: relative;

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  & > div {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: auto;

    transition: transform 0.3s;
  }
}

.day {
  display: flex;
  flex-direction: column;

  width: 20rem;
  height: 100%;

  padding: 0 2rem 4rem 2rem;

  border-left: 2px solid transparent;
  border-right: 1px solid $border;

  $radius: 0.6rem;

  @include media('<=phone') {
    width: 100vw;
    margin-bottom: 0rem;
  }

  .header {
    display: flex;
    align-items: flex-end;

    height: $day-title-height + 1rem;
    padding-bottom: 1rem;

    .title {
      color: $primary;
      font-size: 1.3rem;
      font-weight: 400;
    }
  }

  .events {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    .event {
      z-index: 1;

      position: relative;
      display: flex;
      flex-direction: column;

      height: 1 / $hours-amount * 100%;
      width: 100%;

      border-color: $border-darker;
      border-style: solid;
      border-width: 0;
      border-radius: 0;

      padding: 0.7rem 1rem;

      @include media('<=tablet') {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      &.normal,
      &.start,
      &.middle,
      &.end {
        cursor: pointer;

        &.red {
          border-color: #c0392b;
          background-color: #f8ceca;
          color: #c0392b;
        }

        &.light-blue {
          border-color: #17c0eb;
          background-color: #c7f1fb;
          color: #17c0eb;
        }

        &.midnight-blue {
          border-color: #2c3e50;
          background-color: #b0c4d7;
          color: #2c3e50;
        }

        &.blue {
          border-color: #2980b9;
          background-color: #b9e1fa;
          color: #2980b9;
        }

        &.light-purple {
          border-color: #8e44ad;
          background-color: #e5cdef;
          color: #8e44ad;
        }

        &.purple {
          border-color: #7158e2;
          background-color: #cec6f6;
          color: #7158e2;
        }

        &.light-green {
          border-color: #27ae60;
          background-color: #c2f8d9;
          color: #27ae60;
        }

        &.green {
          border-color: #16a085;
          background-color: #b5f4e7;
          color: #16a085;
        }

        &.light-orange {
          border-color: #f39c12;
          background-color: #fbecd4;
          color: #f39c12;
        }

        &.orange {
          border-color: #d35400;
          background-color: #feccab;
          color: #d35400;
        }

        &.gray {
          border-color: #7f8c8d;
          background-color: #d5dede;
          color: #7f8c8d;
        }

        // Template
        // &. {
        //   border-color: #;
        //   background-color: #;
        //   color: #;
        // }

        &.disabled {
          border-color: $gray;
          background-color: $gray-light;
          color: $gray;

          cursor: not-allowed;
        }
      }

      &.selected {
        z-index: 5;

        border-width: 0;
        border-radius: 0;
        border-color: $black;
        background-color: $black-light;
        color: $black;
      }

      &.normal:not(.unselected) {
        border-width: 1px;
        border-radius: $radius;
      }

      &.start:not(.unselected) {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;

        border-left-width: 1px;
        border-right-width: 1px;
        border-top-width: 1px;
      }

      &.middle:not(.unselected) {
        border-left-width: 1px;
        border-right-width: 1px;
      }

      &.end:not(.unselected) {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;

        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
      }

      .title {
        font-size: 1rem;
        font-weight: 600;
      }

      .description {
        font-size: 1rem;
        font-weight: 400;

        margin-top: 0.1rem;
      }

      &.blur {
        @include filter(blur, 5px);
        transition: all 0.3s;
      }
    }
  }

  .events.professor-events .event {
    &.empty.selectable:hover::before {
      content: '';
      display: block;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      border-width: 1px;
      border-radius: $radius;

      opacity: 0.2;
      background: $pattern;

      cursor: pointer;
    }
  }
}
