@import '../../../../styles/variables';

.time-indicator-container {
  z-index: 10;

  display: flex;
  align-items: center;

  height: 100%;

  padding: 1rem 0;
  padding-top: 1rem + $day-title-height;
  padding-bottom: 4rem;

  border-right: 1px solid rgb(211, 218, 233);

  background: white;

  tbody {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: $timeindicator-width;

    tr {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      height: 1 / $hours-amount * 100%;

      color: rgb(147, 157, 179);
    }
  }
}
