.days {
  z-index: 5;

  position: relative;

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  // padding-left: 4.5rem;
}

.days > div {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: auto;

  transition: transform 0.3s;
}
