@import './styles/_mixins.scss';

.container {
  @include full-size;

  position: relative;

  display: flex;
  flex-direction: column;
}

.blurred {
  filter: blur(3px);
}

.center-content {
  justify-content: center;
  align-items: center;
}
